@import "reset";
@import "variables";
@import "custom";
@import "typography";
@import "coding";

html {
  overflow: hidden;
}
.application-main-panel {
  height: calc(100vh - 79px); /* full height minus the navbar */
}

#gdbgui-application,
.application-container {
  /* dan's panel group library requires this for containers taking up the whole window height */
  height: 100vh;
}

#gdb_console_container {
  position: relative;
}

#folders-view,
#right-sidebar {
  min-width: 300px;
}

#folders-view,
#gdb_console_container,
#code_container,
#right-sidebar{
  /* dan's panel group library requires this for full width children */
  width: 100%;
  overflow: auto;
}

#gdbmi-output-panel {
  max-height: 400px;
  overflow: auto;
}

.menu-item-icon {
  position: absolute;
  left: 4px;
  top: 8px;
}

.menu-item-has-icon {
  position: relative;
}

.plot-container {
  height: 200px;
  width: 300px;

  &.hidden {
    display: none;
  }
}

.tree-container, .vis-network {
  min-width: 300px;
  min-height: 200px;
}

#console {
  font-family: $font-family-monospace;
  background-color: $console-bg;
  color: $console-default-color;
  overflow: auto;
  position: absolute;
  padding: 4px;
  top: 0;
  bottom: 32px;
  right: 0;
  left: 0;
}

.console-command-line {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.console-line {
  white-space: pre;
  padding: 0;
  margin: 0;
  line-height: 1.1em;
  font-size: .9em;
}

.console-line.server-out {
  color: $console-server-color;
}

.console-line.user-input:hover {
  background-color: $black;
}

.console-line.user-input {
  color: $console-user-color;
  background-color: $console-user-bg;
  cursor: pointer;
}

.console-line.stderr {
  color: $console-error-color;
}

.cursor-pointer {
  cursor: pointer;
}

.command-prompt {
  &.purple {
    color: $console-command-prompt-text;
    background-color: $console-command-prompt-bg;
  }
}
